<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="100" id="navbar-top">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" placement="bottom" [routerLink]="['/tour-plan']" target="_blank"
                tooltip="Designed and Coded by Creative Tim">
                <span> 產生、分享 </span> 您的旅遊計畫
            </a>
            <button aria-controls="navigation-index" aria-label="Toggle navigation"
                class="navbar-toggler navbar-toggler" [attr.aria-expanded]="!isCollapsed"
                (click)="isCollapsed = !isCollapsed" id="navigation" type="button">
                <span class="navbar-toggler-bar bar1"> </span>
                <span class="navbar-toggler-bar bar2"> </span>
                <span class="navbar-toggler-bar bar3"> </span>
            </button>
        </div>
        <div class="navbar-collapse justify-content-end" [collapse]="isCollapsed" id="navigation">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6 collapse-brand"><a> Plan• </a></div>
                    <div class="col-6 collapse-close text-right">
                        <button aria-controls="navigation-index" aria-label="Toggle navigation" class="navbar-toggler"
                            [attr.aria-expanded]="!isCollapsed" (click)="isCollapsed = !isCollapsed" id="navigation"
                            type="button">
                            <i class="tim-icons icon-simple-remove"> </i>
                        </button>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav">
                <!-- <li class="nav-item p-0">
                    <a class="nav-link" href="https://twitter.com/CreativeTim" placement="bottom" target="_blank"
                        tooltip="Follow us on Twitter">
                        <i class="fab fa-twitter"> </i>
                        <p class="d-lg-none d-xl-none">Twitter</p>
                    </a>
                </li>
                <li class="nav-item p-0">
                    <a class="nav-link" href="https://www.facebook.com/CreativeTim" placement="bottom" target="_blank"
                        tooltip="Like us on Facebook">
                        <i class="fab fa-facebook-square"> </i>
                        <p class="d-lg-none d-xl-none">Facebook</p>
                    </a>
                </li>
                <li class="nav-item p-0">
                    <a class="nav-link" href="https://www.instagram.com/CreativeTimOfficial" placement="bottom"
                        target="_blank" tooltip="Follow us on Instagram">
                        <i class="fab fa-instagram"> </i>
                        <p class="d-lg-none d-xl-none">Instagram</p>
                    </a>
                </li> -->
                <li class="dropdown nav-item" dropdown>
                    <a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" dropdownToggle
                        href="javascript:void(0)">
                        <i class="fa fa-cogs d-lg-none d-xl-none"> </i> Getting started
                    </a>
                    <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>

                        <!-- <a class="dropdown-item" [routerLink]="['/register']">
                            <i class="tim-icons icon-bullet-list-67"> </i> Register Page
                        </a> -->
                        <a class="dropdown-item" [routerLink]="['/my-plan']">
                            <i class="tim-icons icon-image-02"> </i> 我的旅遊計畫
                        </a>
                        <a class="dropdown-item" [routerLink]="['/all-plan']">
                            <i class="tim-icons icon-single-02"> </i> 旅遊計畫分享
                        </a>
                        <a class="dropdown-item" [routerLink]="['/contact-me']">
                            <i class="tim-icons icon-paper"> </i> 與我聯絡
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="wrapper">
    <div class="main" style="min-height: 100vh;">
        <div class="squares square1"></div>
        <div class="squares square2"></div>
        <div class="squares square3"></div>
        <div class="squares square4"></div>
        <div class="squares square5"></div>
        <div class="squares square6"></div>
        <div class="squares square7"></div>

        <div class="container text-center" style="position: relative;top: 100px;">
            <div class="loading-overlay" [hidden]="!isLoading">
                <div class="loading-spinner"></div>
            </div>

            <div class="content-center">
                <div class="form-row" *ngFor="let item of this.searchCityState;index as ii">
                    <ng-container *ngIf="item.plan=='';else planed">
                        <div class="form-group col-md-5">
                            <label [for]="'inputCity'+ii">城市</label>
                            <select [id]="'inputCity'+ii" class="form-control" [(ngModel)]="item.selectCity">
                                <option value="-1">隨機</option>
                                <option *ngFor="let citem of this.cityState;index as i" [value]="i">{{citem.cnName}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-md-5">
                            <label [for]="'inputState'+ii">鄉鎮</label>
                            <select [id]="'inputState'+ii" class="form-control" [(ngModel)]="item.selectSate">
                                <option value="-1">隨機</option>
                                <ng-container *ngIf="item.selectCity!=-1">
                                    <option *ngFor="let sitem of this.cityState[item.selectCity].State;index as j"
                                        [value]="j">
                                        {{sitem.cnName}}
                                    </option>
                                </ng-container>
                            </select>
                        </div>

                        <!-- <div *ngIf="item.searchPos=='';else selectAF" class="form-group col-md-10"> -->
                        <div class="form-group col-md-10">
                            <button (click)="searchLocalPlaces()" type="submit" class="btn btn-primary">搜尋景點</button>
                        </div>

                        <!-- <ng-template #selectAF> -->
                        <ng-container *ngIf="item.searchPos!=''">
                            <div class="form-group col-md-10">
                                <div *ngFor="let titem of trans" class="form-check form-check-radio form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" id="{{ titem }}" name="{{titem}}"
                                            [value]="titem" [(ngModel)]="item.trans"
                                            (ngModelChange)="item.trans=$event">
                                        {{titem}}
                                        <span class="form-check-sign"></span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-md-10">目前設定地點:{{item.searchPos}}</div>
                            <!-- <div class="form-group col-md-5">選擇{{item.searchPos}}景點</div>
                            <div class="form-group col-md-5">選擇{{item.searchPos}}美食</div> -->

                            <div class="form-group col-md-10">
                                <span *ngFor="let item of checkedPlan" class="badge badge-primary">
                                    {{item.name}}
                                </span>
                            </div>

                            <div class="form-group col-md-5">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input [(ngModel)]="item.isAttractionsRandom" class="form-check-input"
                                            type="checkbox">
                                        隨機景點
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>

                            <div class="form-group col-md-5">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input [(ngModel)]="item.isFoodRandom" class="form-check-input" type="checkbox">
                                        隨機美食
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-md-10">
                                <tabset class="nav-tabs-danger">
                                    <tab>
                                        <ng-template tabHeading>
                                            <i class="tim-icons icon-spaceship"> </i> 挑選景點
                                        </ng-template>
                                        <div style="display: flex;">
                                            <div style="flex:1;height: 300px;overflow-y: auto;">
                                                <table class="table"
                                                    *ngIf="attractionsInf.hasOwnProperty(item.searchPos)">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center">Add</th>
                                                            <!-- <th class="text-center">Checked</th> -->
                                                            <th>Name</th>
                                                            <th class="text-right">Stars</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr
                                                            *ngFor="let aitem of attractionsInf[item.searchPos].results;index as ai">
                                                            <td class="text-center">
                                                                <button (click)="selectPlan(aitem)"
                                                                    class="btn btn-primary btn-sm">添加行程</button>
                                                            </td>
                                                            <!-- <td class="text-center">
                                                                <input
                                                                    [disabled]="item.isAttractionsRandom || (getCheckedCount(attractionsInf[item.searchPos].results)&&!aitem.checked)"
                                                                    [(ngModel)]="aitem.checked" class="form-check-input"
                                                                    type="checkbox">
                                                            </td> -->
                                                            <td class="text-left">
                                                                <button class="btn btn-default btn-sm mr-1"
                                                                    container="body" placement="bottom"
                                                                    [popoverTitle]="aitem.name"
                                                                    [popover]="aitem.formatted_address" type="button">
                                                                    {{aitem.name}}
                                                                </button>
                                                            </td>
                                                            <td>
                                                                {{aitem.rating}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="td-actions text-center" colspan="3">
                                                                <button (click)="onAttractionsScroll(item.searchPos)"
                                                                    type="button"
                                                                    class="btn btn-success btn-sm">加載更多資訊...</button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div style="flex:1;height: 300px;overflow-y: auto;">
                                                <table class="table" *ngIf="foodInf.hasOwnProperty(item.searchPos)">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center">Add</th>
                                                            <!-- <th class="text-center">Checked</th> -->
                                                            <th>Name</th>
                                                            <th class="text-right">Stars</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr
                                                            *ngFor="let fitem of foodInf[item.searchPos].results;index as ai">
                                                            <td class="text-center">
                                                                <button (click)="selectPlan(fitem)"
                                                                    class="btn btn-primary btn-sm">添加行程</button>
                                                            </td>
                                                            <!-- <td class="text-center">
                                                                <input
                                                                    [disabled]="item.isFoodRandom|| (getCheckedCount(foodInf[item.searchPos].results)&&!fitem.checked)"
                                                                    [(ngModel)]="fitem.checked" class="form-check-input"
                                                                    type="checkbox">
                                                            </td> -->
                                                            <td class="text-left">
                                                                <button class="btn btn-default btn-sm mr-1"
                                                                    container="body" placement="bottom"
                                                                    [popoverTitle]="fitem.name"
                                                                    [popover]="fitem.formatted_address" type="button">
                                                                    {{fitem.name}}
                                                                </button>
                                                            </td>
                                                            <td>
                                                                {{fitem.rating}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="td-actions text-center" colspan="3">
                                                                <button (click)="onFoodsScroll(item.searchPos)"
                                                                    type="button"
                                                                    class="btn btn-success btn-sm">加載更多資訊...</button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </tab>
                                    <tab>
                                        <ng-template tabHeading>
                                            <i class="tim-icons icon-settings-gear-63"> </i> 搜尋景點
                                        </ng-template>
                                        <div class="form-group">
                                            <label for="searchA">搜尋景點</label>
                                            <input [(ngModel)]="searchKeyWord" type="text" class="form-control"
                                                id="searchA" placeholder="搜尋景點">
                                        </div>

                                        <button (click)="searchPlaces(searchKeyWord)" type="submit"
                                            class="btn btn-primary">搜尋</button>
                                        <div style="flex:1;height: 300px;overflow-y: auto;">
                                            <table class="table" *ngIf="searchInf.hasOwnProperty(item.searchPos)">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">Add</th>
                                                        <!-- <th class="text-center">Checked</th> -->
                                                        <th>Name</th>
                                                        <th class="text-right">Stars</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr
                                                        *ngFor="let sitem of searchInf[item.searchPos].results;index as ai">
                                                        <td class="text-center">
                                                            <button (click)="selectPlan(sitem)"
                                                                class="btn btn-primary btn-sm">添加行程</button>
                                                        </td>
                                                        <!-- <td class="text-center">
                                                            <input
                                                                [disabled]="item.isAttractionsRandom || (getCheckedCount(attractionsInf[item.searchPos].results)&&!sitem.checked)"
                                                                [(ngModel)]="sitem.checked" class="form-check-input"
                                                                type="checkbox">
                                                        </td> -->
                                                        <td class="text-left">
                                                            <button class="btn btn-default btn-sm mr-1" container="body"
                                                                placement="bottom" [popoverTitle]="sitem.name"
                                                                [popover]="sitem.formatted_address" type="button">
                                                                {{sitem.name}}
                                                            </button>
                                                        </td>
                                                        <td>
                                                            {{sitem.rating}}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="td-actions text-center" colspan="3">
                                                            <button (click)="onAttractionsScroll(item.searchPos)"
                                                                type="button"
                                                                class="btn btn-success btn-sm">加載更多資訊...</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </tab>
                                </tabset>
                            </div>

                            <button (click)="tranvePlanNew(item.searchPos)" type="submit"
                                class="btn btn-primary form-group col-md-10">產生第{{ii+1}}天行程</button>
                        </ng-container>
                        <!-- </ng-template> -->
                    </ng-container>
                    <ng-template #planed>

                    </ng-template>
                </div>
                <div class="form-row" *ngIf="exportPlanDoc!=''">
                    <div [hidden]="!isExportPlan" class="form-group col-md-10">
                        <div #content class="text-pre" [innerHtml]="exportPlanDoc|safeHtml"></div>
                    </div>

                    <ng-container *ngIf="!isExportPlan;else export">
                        <div class="form-group col-md-10">
                            <angular-editor [(ngModel)]="exportPlanDoc" [config]="config"></angular-editor>
                        </div>
                        <div class="form-group col-md-5"><button (click)="addCityState()" type="submit"
                                class="btn btn-primary">添加新行程</button>
                        </div>
                        <div class="form-group col-md-5"><button (click)="isExportPlan = true;" type="submit"
                                class="btn btn-primary">匯出行程</button>
                        </div>
                    </ng-container>
                    <ng-template #export>
                        <div class="form-group col-md-3">
                            <button *ngIf="LoginService.loggedIn;else login" data-target="#myModal2"
                                (click)="myModal2.show()" type="submit" class="btn btn-primary">儲存</button>
                            <ng-template #login>
                                <label class="form-check-label">
                                    若要儲存請先登入google帳號
                                </label>
                                <asl-google-signin-button type='standard' size='large'
                                    logo_alignment="center"></asl-google-signin-button>
                            </ng-template>
                        </div>
                        <div class="form-group col-md-4">
                            <button (click)="clearPlan()" type="submit" class="btn btn-primary">離開</button>
                        </div>
                        <div class="form-group col-md-3">
                            <button (click)="exportPlan()" type="submit" class="btn btn-primary">匯出pdf</button>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>



<div aria-hidden="true" aria-labelledby="myModalLabel" bsModal class="modal fade modal-black" #myModal2="bs-modal"
    id="myModal2" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label for="InputTitle">輸入標題</label>
                    <input [(ngModel)]="storePlanTitle" type="text" class="form-control" id="InputTitle"
                        placeholder="輸入標題">
                </div>
                <button type="submit" class="btn btn-primary" (click)="myModal2.hide();storePlan();">儲存</button>
            </div>
        </div>
    </div>
</div>